body {

    h1 {
        color: #f00;
        text-shadow: 300px 300px 300px rgba(0, 0, 0, 0.5);
    }

    .teta {
        color: red;
    }

    .zika {

        color: #f40;

        span {
            zoom: 10;
        }

    }

}